@{
    ViewData["Title"] = "Catalog";

    Layout = "_Layout";
}

<h1>Course Catalog</h1>

@for (int i = 1; i <= 10; i++)
{
    <hr />
    <div class="row courses">
        <div class="col-md-1">
            <img src="~/logo.png" width="50" />
        </div>
        <div class="col-md-5 ">
            <h2>Title Course</h2>
            <author>Nome of author</author>
        </div>
        <div class="col-md-2 rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="col-md-2 price">
           EUR 9.99 <br /><s>EUR 12.99</s>
        </div>

        <div class="col-md-2 d-flex align-items-center" >
            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="1">Details</a>
        </div>
    </div>
}