.rating {
    color: orange;
    padding: 0 5px;
    margin-top: 0 20px;
}

author {
    color: gray;
    font-size: small;
}

.price s {
    font-size: small;
    color:peru;
}

h1 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-weight: 200;
    text-align: center;
}

.courses h2 {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.contact{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align:center;
    color:darkblue;
}
